@import 'font-awesome';
@import 'materialize';

// @import url('https://fonts.googleapis.com/css?family=Leckerli+One');

body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  // background-attachment: fixed;
}

header#main-header {
  // background-image: url('/images/header.jpg');
  height: 300px;
}
#header-icons {
  padding-top: 10px; 
}
#logo {
  width: 225px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#title {
  // font-family: 'Leckerli One', cursive;
  font-size: 3.2rem;
}

.parallax-container {
  height: 300px;
}
