<footer class="page-footer cyan">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <h5 class="white-text">7 Teros</h5>
        <p class="grey-text text-lighten-4"><%= t :footer_content1 %></p>
        <p class="grey-text text-lighten-4">Todos cuentan con conexión a Internet WiFi.</p>

        <h5 class="white-text">Contacto</h5>
        <ul>
          <li class="white-text">Celular:  <a class="white-text"href="callto:+59899917522">099-917-522</a></li>
          <li class="white-text">Teléfono: <a class="white-text" href="callto:+59844772532">4477-2532</a></li>
          <li class="white-text">Email:    <a class="white-text" href="mailto:rdaset7@gmail.com">rdaset7@gmail.com</a></li>
        </ul>
      </div>
      <div class="col l4 s12">
        <div class="fb-page" data-href="https://www.facebook.com/7Teros" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/7Teros" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/7Teros">7  Teros</a></blockquote></div>
      </div>
    </div>
  </div>
</footer>

<div class="footer-copyright">
  <div class="container">
    <p><%= (t :footer).sub '{{year}}', "#{Date.today.year}" %></p>
    <p>Made with <a class="cyan-text" href="https://middlemanapp.com">Middleman</a> by <a class="cyan-text" href="https://www.linkedin.com/in/gabrielbalbuena">Gabriel Balbuena (<i class="fa fa-linkedin" aria-hidden="true"></i>)</a></p>
  </div>
</div>
