<header id="main-header" class="parallax-container">
  <div class="parallax">
    <%= image_tag 'full-header.jpg' %>
  </div>
  <div id="header-icons" class="center-align">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
      <i class="fa fa-facebook-official fa-stack-1x" aria-hidden="true"></i>
    </span>
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
      <i class="fa fa-twitter fa-stack-1x" aria-hidden="true"></i>
    </span>
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
      <i class="fa fa-instagram fa-stack-1x" aria-hidden="true"></i>
    </span>
  </div>

  <%= image_tag 'logo.png', id: 'logo', class: 'valign-wrapper center-align' %>
  <!-- <h1 id="title" class="center-align"><%= t 'title' %> <small><%= t 'secondary_title' %></small></h1> -->
</header>
