<h4 class="header">Internet</h4>
<p>Wi-Fi (en todo el complejo)</p>
<h4 class="header">Aire Acondicionado</h4>
<p>En todas las unidades</p>
<h4 class="header">Estufa a Leña</h4>
<p>En todas las unidades menos La Escondida</p>
<h4 class="header">TV Cable</h4>
<p>En todo el complejo.</p>
<h4 class="header">Parrilleros individuales</h4>
<p>En todas las unidades</p>
<h4 class="header">Lavadero común</h4>
<h4 class="header">Estacionamientos</h4>
<h4 class="header">Ropa Blanca</h4>
<p>Opción La Escondida</p>
